@use '/public/styles/variables' as *;

.statistics{

        &Container{
            padding: 0 25px 5rem;
            background-color: rgba(#000, 0.1);

        }

        &__cardContainer{
            display: flex;
            flex-direction: column;
            gap: 10rem;
            

            @media only screen and (min-width: 1024px) {
                gap: 3rem;
                flex-direction: row;
                align-items: flex-start;
                max-width: 1024px;
                margin: 0 auto;

            }
        }
}