@use '/public/styles/variables' as *;

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @media screen and (min-width: 1024px){
        font-size: 64%;
    }
}

body {
    box-sizing: border-box;
    font-size: 1.8rem;
    font-family: $primary-font;
}